<div class="grid grid-nogutter surface-section text-800 header-wrapper">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <span class="block text-6xl font-bold mb-1">Employee Manager</span>
          <div class="text-6xl text-primary font-bold mb-3">Fullstack demonstration</div>
          <p class="mt-0 mb-4 text-700 line-height-3">Angular 17, PrimeNG, .NET Core 8, Entity Framework, MS SQL, Azure</p>
          <a href="https://github.com/gorj00/Angular---.NET-Core-8-API---EmployeeManager" target="_blank" rel="noopener noreferrer" class="p-button mr-3 font-bold">GitHub code</a>
          <a href="https://dbdiagram.io/d/Mountfield-v1-662c08de5b24a634d0ec0c5f" target="_blank" rel="noopener noreferrer" class="p-button p-button-outlined font-bold">Database model</a>

      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <div class="md:ml-auto block md:h-full header-img"></div>
  </div>
</div>

<div class="grid grid-nogutter surface-section text-800 content-wrapper mb-5">
  <div class="col-12 content pb-5">
    <router-outlet></router-outlet>
  </div>
</div>