<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/6835e925-7ce0-4576-a79f-a0775a5eac1b/resourceGroups/cv-projects/providers/Microsoft.ApiManagement/service/CVWebAPI/apis/Mountfield-cv</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/6835e925-7ce0-4576-a79f-a0775a5eac1b/resourcegroups/cv-projects/providers/Microsoft.Web/sites/cv-app-service-linux</ResourceId>
    <ResourceGroup>cv-projects</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cv-app-service-linux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8826c18f-4033-411e-83e3-d058b18c7761</ProjectGuid>
    <PublishUrl>https://cv-app-service-linux.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cv-app-service-linux</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>